$width: min(90vw, 890px);
$theme-transition: 1s;

// Themes
@mixin dark() {
	--bg: #151314;
	--fg: #e6e0e5;
	--sep: #50494b;
	--par: #b7b0b6;
    --inv: invert(100%);
}

@mixin light() {
	--bg: #eceaeb;
	--fg: #1f191e;
	--sep: #b6afb1;
	--par: #50494f;
    --inv: invert(0%);
}

.dark {
	@include dark;
}

.light {
	@include light;
}

.sys {
	@media (prefers-color-scheme: dark) {
		@include dark;
	}

	@media (prefers-color-scheme: light) {
		@include light;
	}
}

// Basics
* {
	margin: 0;
}

@font-face {
	font-family: Dyslexic;
	src: url('../../assets/font/SubsetOpenDyslexic.woff2') format('woff2');
	font-weight: 400;
	ascent-override: 100%;
	descent-override: 28%;
	font-display: swap;
	size-adjust: 90.15%;
}

body {
	color: var(--fg);
	background: var(--bg);
	font-family: Dyslexic, sans-serif;
	transition: background $theme-transition, color $theme-transition;
}

a {
	color: var(--fg);
	transition: color $theme-transition;
}

p {
	color: var(--par);
	transition: color $theme-transition;
	letter-spacing: 0.5px;
	font-family: sans-serif;
}

hr {
	transition: border $theme-transition;
	border: 0.125rem solid var(--sep);
}

h1 {
	font-weight: 900;
}

// Scrollbar
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(150, 150, 150, 0.3);

    &:hover {
        background: rgba(150, 150, 150, 0.6);
    }
}

// Tooltip
a[tooltip], div[tooltip] {
	position: relative;
	transition: color $theme-transition;

	&:after {
		top: 30px;
		left: 50%;
		opacity: 0;
		font-size: 12px;
		color: var(--fg);
		position: absolute;
		white-space: nowrap;
		content: attr(tooltip);
		transition: opacity 0.5s;
		transform: translateX(-50%);
	}

	&:hover:after {
		opacity: 1;
	}
}

// Content
header {
	width: $width;
	display: flex;
	margin: 0 auto;
	padding: 32px 0;
	justify-content: space-between;

	nav {
		margin: auto 0;
		display: flex;

		a,
		div {
			padding: 0 1rem;
			cursor: pointer;
			user-select: none;

			img {
				width: 1.25rem;
				height: 1.25rem;
				filter: opacity(0.75) var(--inv);
				transition: filter $theme-transition;
			}

			&:hover > img {
				filter: var(--inv);
			}
		}
	}
}

main {
	width: $width;
	margin: 0 auto;

	section {
		padding: 2.5rem 0;
	}
}

section#hero {
	display: flex;

	div#bio {
		margin: auto 2.5rem;
	}

	p {
		.mauve {
			color: #a079ca;
		}

		.salmon {
			color: #cf5e56;
		}
	}

	img {
		margin: 1.25rem;
		user-select: none;
        background: #655057;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
	}
}

// Responsive
@media screen and (max-width: 715px) {
    section#hero {
        display: block;

		img {
			width: 60vw;
			height: 60vw;
		}
    }
}
